html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: rgb(0, 0, 0);
  color: #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  transition: all 200ms linear;
  ///WHITE MODE
}

.dark-toggle {
  background-color: rgba(153, 153, 153, 0.8);
  color: black;
  transition: all 200ms linear;
}
